.done {
    margin-top: 8%;
}

.done_selectfolder {
    display: none;
    color: white;
    float:right;
}

.done_selectfolder li {
    list-style-type: none;
    padding-left: 5px;
}

.done_selectfolder li:hover {
    background-color: rgb(51, 54, 56);
}